body {
    background-color: #22212C;
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.lobo1{
    max-width: 300px;
    grid-row: 1 / 3;
    background-color: #302F3D;;
}



